<form action="/houses/<%= @house.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH">

  <label>Address
    <input type="text" name="house[address]" value="<%= @house.address %>">
  </label>

  <input type="submit">
</form>

<a href="/houses"><< Back to Index</a>

<ul>
  <% if session[:errors] %>
    <% session[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  <% end %>
</ul>

<div style="background-color: #c8c8c8; border-radius: 8px; border: 6px solid #00d2da; box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); width: 30%; padding: 10px; position: absolute; top: 20px; right: 20px;">
  Lite Rail includes CSRF protection. Each form must include a hidden input field containing the random hash  generated at the beginning of the session.
</div>
